################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TPG/Binaries/Win64
/TPG/Saved
/TPG/Intermediate
